<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.lewei.production.mapper.erpmapper.ErpEuntMapper">
	<resultMap id="BaseResultMap"
		type="com.lewei.production.model.Other">
		<id column="t_eunt" property="code" jdbcType="VARCHAR" />
		<id column="t_dsca" property="dsca" jdbcType="VARCHAR" />
		<id column="t_fcmp" property="companyNo" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		t_eunt,t_dsca,t_fcmp
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.lewei.production.model.Condition">
		select
		<include refid="Base_Column_List" />
		from ttcemm030${companyNo}
	</select>

</mapper>