<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.lewei.production.mapper.orclmapper.SerialNumberMapper">
	<resultMap id="BaseResultMap"
		type="com.lewei.production.model.Other">
		<id column="t$serl" property="code" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		t$serl
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.lewei.production.model.Condition">
		select
		<include refid="Base_Column_List" />
		from baan.twhltc500${companyNo}
		<where>
			<if test="if1 != null and if1 != ''">
				and t$cwar = #{if1,jdbcType=VARCHAR}
			</if>
			<if test="if2 != null and if2 != ''">
				and t$item = #{if2,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>