<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.lewei.production.mapper.orclmapper.WarehouseLineMapper">
	<resultMap id="BaseResultMap"
		type="com.lewei.production.model.ErpWarehouseLine">
		<id column="t$oorg" property="oorg" jdbcType="INTEGER" />
		<id column="t$orno" property="orno" jdbcType="VARCHAR" />
		<id column="t$oset" property="oset" jdbcType="INTEGER" />
		<id column="t$pono" property="pono" jdbcType="INTEGER" />
		<result column="t$item" property="item" jdbcType="VARCHAR" />
		<result column="t$qoro" property="qoro" jdbcType="DOUBLE" />
		<result column="t$orun" property="orun" jdbcType="VARCHAR" />
		<result column="t$lsel" property="lsel" jdbcType="INTEGER" />
		<result column="t$clot" property="clot" jdbcType="VARCHAR" />
		<result column="t$serl" property="serl" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		t$oorg,t$orno,t$oset,t$pono,t$item,t$qoro,t$orun,t$lsel,t$clot,t$serl
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.lewei.production.model.Condition">
		select
		<include refid="Base_Column_List" />
		from baan.twhinh220${companyNo}
		where t$oorg = 51
		and t$orno = #{if1,jdbcType=VARCHAR}
		<if test="in1 != null and in1 != ''">
			and t$oset = #{in1,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectMinOset" resultMap="BaseResultMap"
		parameterType="com.lewei.production.model.Condition">
		select
		<include refid="Base_Column_List" />
		from baan.twhinh220${companyNo}
		where t$oorg = 51
		and t$orno = #{if1,jdbcType=VARCHAR}
		<if test="in1 != null and in1 != ''">
			and t$oset = #{in1,jdbcType=INTEGER}
		</if>
		AND t$lsta = 5
	</select>

	<select id="selectMaxOset" resultMap="BaseResultMap"
		parameterType="com.lewei.production.model.Condition">
		select
		MAX(t$pono) t$pono
		from baan.twhinh220${companyNo}
		where t$oorg = 51
		and t$orno = #{if1,jdbcType=VARCHAR}
		<if test="in1 != null and in1 != ''">
			and t$oset = #{in1,jdbcType=INTEGER}
		</if>
	</select>

	<insert id="insretWarehouseLine"
		parameterType="com.lewei.production.model.ErpWarehouseSFCLine">
		insert into baan.twhinr930${companyNo}
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oorg != null">
				t$oorg,
			</if>
			<if test="orno != null">
				t$orno,
			</if>
			<if test="iitp != null">
				t$iitp,
			</if>
			<if test="odat != null">
				t$odat,
			</if>
			<if test="pdat != null">
				t$pdat,
			</if>
			<if test="sfco != null">
				t$sfco,
			</if>
			<if test="sflo != null">
				t$sflo,
			</if>
			<if test="stco != null">
				t$stco,
			</if>
			<if test="stlo != null">
				t$stlo,
			</if>
			<if test="seri != null">
				t$seri,
			</if>
			<if test="otyp != null">
				t$otyp,
			</if>
			<if test="wdep != null">
				t$wdep,
			</if>
			<if test="item != null">
				t$item,
			</if>
			<if test="qoor != null">
				t$qoor,
			</if>
			<if test="clot != null">
				t$clot,
			</if>
			<if test="refa != null">
				t$refa,
			</if>
			<if test="refb != null">
				t$refb,
			</if>
			<if test="auto != null">
				t$auto,
			</if>
			<if test="trdt != null">
				t$trdt,
			</if>
			<if test="seqn != null">
				t$seqn,
			</if>
			<if test="stat != null">
				t$stat,
			</if>
			<if test="error != null">
				t$error,
			</if>
			<if test="whno != null">
				t$whno,
			</if>
			<if test="pono != null">
				t$pono,
			</if>
			<if test="refc != null">
				T$REFCNTD,
			</if>
			<if test="refu != null">
				T$REFCNTU,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oorg != null">
				#{oorg,jdbcType=INTEGER},
			</if>
			<if test="orno != null">
				#{orno,jdbcType=VARCHAR},
			</if>
			<if test="iitp != null">
				#{iitp,jdbcType=INTEGER},
			</if>
			<if test="odat != null">
				#{odat,jdbcType=TIMESTAMP},
			</if>
			<if test="pdat != null">
				#{pdat,jdbcType=TIMESTAMP},
			</if>
			<if test="sfco != null">
				#{sfco,jdbcType=VARCHAR},
			</if>
			<if test="sflo != null">
				#{sflo,jdbcType=VARCHAR},
			</if>
			<if test="stco != null">
				#{stco,jdbcType=VARCHAR},
			</if>
			<if test="stlo != null">
				#{stlo,jdbcType=VARCHAR},
			</if>
			<if test="seri != null">
				#{seri,jdbcType=VARCHAR},
			</if>
			<if test="otyp != null">
				#{otyp,jdbcType=VARCHAR},
			</if>
			<if test="wdep != null">
				#{wdep,jdbcType=VARCHAR},
			</if>
			<if test="item != null">
				#{item,jdbcType=VARCHAR},
			</if>
			<if test="qoor != null">
				#{qoor,jdbcType=INTEGER},
			</if>
			<if test="clot != null">
				#{clot,jdbcType=VARCHAR},
			</if>
			<if test="refa != null">
				#{refa,jdbcType=VARCHAR},
			</if>
			<if test="refb != null">
				#{refb,jdbcType=VARCHAR},
			</if>
			<if test="auto != null">
				#{auto,jdbcType=INTEGER},
			</if>
			<if test="trdt != null">
				#{trdt,jdbcType=TIMESTAMP},
			</if>
			BAAN.GET_WHINR930_SEQN_${companyNo} (#{sfco,jdbcType=VARCHAR},
			#{stco,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}),
			<if test="stat != null">
				#{stat,jdbcType=INTEGER},
			</if>
			<if test="error != null">
				#{error,jdbcType=VARCHAR},
			</if>
			<if test="whno != null">
				#{whno,jdbcType=VARCHAR},
			</if>
			<if test="pono != null">
				#{pono,jdbcType=INTEGER},
			</if>
			<if test="refc != null">
				#{refc,jdbcType=INTEGER},
			</if>
			<if test="refu != null">
				#{refu,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>