<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.lewei.production.mapper.promapper.PrintRecordLocationMapper">
	<resultMap id="BaseResultMap"
		type="com.lewei.production.model.PrintRecordLocation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="cwar" property="cwar" jdbcType="VARCHAR" />
		<result column="loca" property="loca" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<result column="userid" property="userid" jdbcType="INTEGER" />
		<result column="create_date" property="createDate"
			jdbcType="TIMESTAMP" />
		<result column="modify_date" property="modifyDate"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id,code, cwar, loca, userid, create_date, modify_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from print_record_location
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from print_record_location
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from print_record_location
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.lewei.production.model.PrintRecordLocation">
		insert into print_record_location (code,cwar, loca, userid)
		values (#{code,jdbcType=VARCHAR}, #{cwar,jdbcType=VARCHAR},
		#{loca,jdbcType=VARCHAR},
		#{userid,jdbcType=INTEGER})
	</insert>
</mapper>